bucket         = "autoservice-terraform-state"
key            = "autoservice-infra-db/homolog.tfstate"
region         = "us-east-1"
dynamodb_table = "autoservice-terraform-locks"
encrypt        = true
